
<!DOCTYPE html>
<html>
<head>
  <%= javascript_include_tag Ckeditor.cdn_url %>

</head>
<body>
  <%= form_for :pages, url: "write" do |form| %>
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <%= hidden_field_tag :id, @page.id %>

  Slug
  <%= text_field_tag 'slug', @page.slug, class: "form-control", :required => true  %>
  Title
  <%= text_field_tag 'title', @page.title, class: "form-control", :required => true %>
  <%= form.cktext_area 'content', value: @page["content"]  %>
  <%= form.submit 'Save'  %>

<% end  %>
</form>
<%= link_to 'Back', pages_path %>
</body>
</html>
