
<!DOCTYPE html>
<html>
<head>
  <%= javascript_include_tag Ckeditor.cdn_url %>

</head>
<body>
  <%= form_for :posts, url: "write" do |form| %>
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  Title
  <%= text_field_tag 'title', @front_matter["title"], class: "form-control" %>

  <%= form.cktext_area 'content', value: @content %>
  Slug
  <%= text_field_tag 'slug', @front_matter["slug"], class: "form-control" %>
  Status
  <%= text_field_tag 'status', @front_matter["status"], class: "form-control" %>
  Excerpt
  <%= text_area_tag 'excerpt', @front_matter["excerpt"], class: "form-control" %>
  <%= form.submit 'Save'  %>
<% end  %>
</form>
<%= link_to 'Back', posts_path %>
</body>
</html>
