
<!DOCTYPE html>
<html>
<head>
  <%= javascript_include_tag Ckeditor.cdn_url %>

</head>
<body>
  <%= form_for :posts, url: "create" do |form| %>
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>

  Title
  <%= text_field_tag 'title', "", class: "form-control", :required => true %>

  <%= form.cktext_area 'content', :required => true %>
  Slug
  <%= text_field_tag 'slug', "", class: "form-control", :required => true %>
  Status
  <%= text_field_tag 'status', "", class: "form-control", :required => true %>
  Excerpt
  <%= text_area_tag 'excerpt', "", class: "form-control", :required => true %>
  <%= form.submit 'Save'  %>
<% end  %>
</form>
<%= link_to 'Back', posts_path %>
</body>
</html>
