
<!DOCTYPE html>
<html>
<head>
 <script src="https://cloud.tinymce.com/stable/tinymce.min.js?apiKey=wom6va3lf95xf7fc6otpv74f5iukcppqusgtw5t06ehrc9zv"></script>
  <script>tinymce.init({ selector:'textarea' });</script>
</head>
<body>
  <%= @front_matter %>
  <%= form_for :anything, url: "write" do |form| %>
  <% @front_matter.each do |key, value| %>
  <%= key %>
  <%= text_field_tag key, value %>
  <% end %>
  <%= text_area_tag 'Content', @content %>
  <%= form.submit  %>
<% end  %>
</form>
</body>
</html>
